// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Code:300&display=swap');

// Modified Bulma Variables
$primary: #66d8cd;
$danger: #cf6679;
$primary-invert: #000;
$info: #bb86fc;
$info-invert: #000;

$body-background-color: #151515;

$family-sans-serif: 'Fira Code';

$navbar-background-color: #151515;
$navbar-burger-color: #FFF;
$navbar-item-color: $primary;
$navbar-item-hover-color: rgba(255, 255, 255, 0.87);
$navbar-item-hover-background-color: transparent;

$menu-item-color: rgba(255, 255, 255, 0.87);
$menu-item-hover-color: rgba(255, 255, 255, 0.87);
$menu-item-hover-background-color: #313131;
$menu-item-active-color: #000;
$menu-item-active-background-color: #bb86fc;
$menu-list-line-height: 1.5;

$input-arrow: $primary;

$footer-background-color: #1e1e1e;
$footer-padding: 3rem 1.5rem 3rem;

// Bulma
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-tooltip/dist/css/bulma-tooltip.sass";